.container {
  width: 60%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3.4rem;
  margin-bottom: 3rem;
}

.todoContainer {
  background-color: bisque;
  padding: 3rem;
  border: 2px solid white;
  border-radius: 1rem;
  width: fit-content;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 1rem;
  margin: 0;
}

.todoContainer input {
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.todoContainer .submit {
  background-color: grey;
  color: bisque;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.todoContainer .submit:hover {
  background-color: #333;
  transition: 400ms ease;
}

.empty-list {
  text-align: center;
  font-size: 2rem;
  grid-column: 1/3;
}
